@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Powered by <a href="https://www.omdbapi.com/">https://www.omdbapi.com/</a>.</p>
</div>
