@model User

@{
    ViewData["Title"] = "Login Error";
}

    <h4>Sorry, that was an incorrect login attempt. Please click <a asp-controller="Home" asp-action="Login">here</a> to Login. </h4>
    <h4>Or click <a asp-controller="Home" asp-action="Register">here</a> to Register as a new user! </h4>

