@model User

@{
    ViewData["Title"] = "Login";
}

    <div>
        <h4>Login</h4>
        <br>

        <p>If you are not already a registered user, please click <a asp-action="Register" asp-controller="Home">here</a> to register!</p>
        <div class="row">
            <div class="col-md-4">
                <form asp-controller="Home" asp-action="LoginUser">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

<!--Need this fgor the validation statement-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}