
@{
    ViewData["Title"] = "TitleError";
}

<h1>No Results Found</h1>
<hr />
<p>Unfortunately, your search returned no results.</p>
<br />
<input type="button" value="Return to Movie Search" class="btn btn-primary" onclick="location.href='@Url.Action("MovieSearch", "Home")'" />

