
@{
    ViewData["Title"] = "TitleError";
}

<h1>Error</h1>
<hr />
<p>You must enter a title to search.</p>
<br />
<input type="button" value="Return to Movie Search" class="btn btn-primary" onclick="location.href='@Url.Action("MovieSearch", "Home")'" />

