@model User

@{
    ViewData["Title"] = "Welcome!";
}

    <div class="text-center">
        @{
            if (ViewBag.Name != null)
            {
                <h4>Welcome @ViewBag.Name!</h4>
            }
            else
            {
                <h4>Welcome!</h4>
            }
        }
        <p>Please check out our Movie Search tab <a asp-controller="Home" asp-action="MovieSearch">here</a>. </p>
    </div>